
@model DevSitesIndex.Pages.Job_Timesheet
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h3>Timesheet</h3>
 
<p>
    <a ng-click="showCreateTimesheetFormWithJobId(@Model.Job.JobID)">Clock-in (Current Job)</a> &nbsp; | &nbsp;

    <a asp-page="/jobs/Create" asp-route-id="@Model.Job.ProjectID">Create New Job</a>
</p>

    </p>

@if (Model.job_Timesheet.Count == 0)
{
    <p>
        No entries.
        &nbsp; &nbsp;
    </p>
}
else
{

    <h3>Total hours: @Model.TotalJobSeconds.SecondsToTimeDuration()</h3>

    <table class="table">

        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].StartTime)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].TotalSeconds_ToTimeSpanFormat_T)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].job_Lineitem.LineItem) 
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].discipline.DisciplineShort)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].DateAdded)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].DateModified)
                </td>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model.job_Timesheet)
            {
 
                @await Html.PartialAsync("Timelog_index_record", new Shared.Timelog_index_record { timelog = item, servingPage = ServingPage.Job_Timelog });

            }

        </tbody>

    </table>
}
