@*
    // 11/19/2019 12:48 am - SSN - [20191119-0048] Created
    // 11/20/2019 06:34 am - SSN - [20191120-0532] - [005] - Job Timelog index - update on change

*@

@{
    Layout = null;

    string tr_1_id = $"model_{Model.timelog.TimeLogId}_a";
    string tr_2_id = $"model_{Model.timelog.TimeLogId}_b";
}

@model Timelog_index_record

<tr id="@Model.tr_1_id">
    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.StartTime)
    </td>
    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.TotalSeconds_ToTimeSpanFormat_T)
    </td>

    @{
        if (Model.servingPage == ServingPage.Timelog)
        {
    <td>
        <strong>@Html.DisplayFor(modelItem => Model.timelog.job.project.ProjectTitle)</strong><br/>
        @Html.DisplayFor(modelItem => Model.timelog.job.JobTitle)
        @if (Model.timelog.job_Lineitem != null)
        {
            <p class="cssLineItemDisplay">@Html.DisplayFor(modelItem => Model.timelog.job_Lineitem.LineItem)</p>
        }
    </td>
        }

        if (Model.servingPage == ServingPage.Job_Timelog)
        {
            <td> 
                @if (Model.timelog.job_Lineitem != null)
                {
                    <p class="cssLineItemDisplay">@Html.DisplayFor(modelItem => Model.timelog.job_Lineitem.LineItem)</p>
                }
            </td>
        }
    }

    <td>
        @Html.DisplayFor(modelItem => Model.timelog.discipline.DisciplineShort)
    </td>


    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.DateAdded)
    </td>

    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.DateModified)
    </td>

    @*class="indexNowrapCol"*@

    <td class="cssTimelogOptions_TD">


        <span class="cssTimelogOptions">

            <a asp-page="/timelogs/Edit" asp-route-id="@Model.timelog.TimeLogId">Edit</a>


            <strong>


                <a asp-page="/timelogs/Details" asp-route-id="@Model.timelog.TimeLogId">Entry's Details</a>

                @{
                    if (Model.servingPage == ServingPage.Timelog)
                    {

                        <a asp-page="/jobs/details" asp-route-id="@Model.timelog.JobId">Job's Details</a>

                        <a asp-page="/projects/details" asp-route-id="@Model.timelog.job.ProjectID">Project's Details</a>
                    }
                }



            </strong>

            <a asp-page="/timelogs/Delete" asp-route-id="@Model.timelog.TimeLogId">Delete</a>

            <br />



            @{await Html.RenderPartialAsync("Timelog_Row_Options", Model); }


        </span>

    </td>
</tr>

@if (!string.IsNullOrWhiteSpace(Model.timelog.WorkDetail))
{

    @* 11/08/2019 07:55 am - SSN - Removed class="detail" *@


    <tr id="@Model.tr_2_id" class="detail workDetail_2">
        <td colspan="2"></td>
        @*06/01/2019 02:59 pm - SSN - Added class codeblock2*@
        @* 11/08/2019 07:53 am - SSN - Replaced codeblock2 with workDetail *@
        <td colspan="5">
            <p class="cssTimeLogDetail_p">@Html.DisplayFor(modelItem => Model.timelog.WorkDetail)</p>
        </td>

    </tr>
}
