@*
    // 11/19/2019 12:48 am - SSN - [20191119-0048] Created
    // 11/20/2019 06:34 am - SSN - [20191120-0532] - [005] - Job Timelog index - update on change

*@

@{
    Layout = null;

    string tr_1_id = $"model_{Model.timelog.TimeLogId}_a";
    string tr_2_id = $"model_{Model.timelog.TimeLogId}_b";
}

@model Timelog_index_record

<tr id="@tr_1_id">
    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.StartTime)
    </td>
    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.TotalSeconds_ToTimeSpanFormat_T)
    </td>

    @{
        if (Model.servingPage == ServingPage.Timelog)
        {
            <td>
                @Html.DisplayFor(modelItem => Model.timelog.job.JobTitle)
            </td>
        }
    }

    <td>
        @Html.DisplayFor(modelItem => Model.timelog.discipline.DisciplineShort)
    </td>


    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.DateAdded)
    </td>

    <td class="indexNowrapCol">
        @Html.DisplayFor(modelItem => Model.timelog.DateModified)
    </td>

    <td class="indexNowrapCol">

        <a asp-page="/timelogs/Edit" asp-route-id="@Model.timelog.TimeLogId">Edit</a>


        <strong>

            ||
            <a asp-page="/timelogs/Details" asp-route-id="@Model.timelog.TimeLogId">Entry's Details</a>

            @{
                if (Model.servingPage == ServingPage.Timelog)
                {
                    <span>|</span>
                    <a asp-page="/jobs/details" asp-route-id="@Model.timelog.JobId">Job's Details</a>
                    <span>|</span>
                    <a asp-page="/projects/details" asp-route-id="@Model.timelog.job.ProjectID">Project's Details</a>
                }
            }

            ||

        </strong>

        <a asp-page="/timelogs/Delete" asp-route-id="@Model.timelog.TimeLogId">Delete</a>

        <br />


        @*
            // 11/16/2019 04:30 pm - SSN - [20191116-1516] - [001] - Timelog edit (AngularJS client version)
        *@
        <a ng-click="timesheetForm_Edit(@Model.timelog.TimeLogId)">Edit (A)</a> |



        <span ng-If="'@Model.timelog.TotalSeconds' <= 0 ">
            <a ng-click="timesheetForm_ClockOut(@Model.timelog.TimeLogId)" class="alert-warning">Clock-out</a>
            |
        </span>

        <!-- 05/19/2019 08:38 am - SSN - [20190519-0837] - [001] - Adding timesheet "Continue" option -->
        <!-- 09/24/2019 04:16 am - SSN - [20190924-0401] - [002] - Quick timelog entry -->
        <!-- Allow to resue link for a quick entry-->
        @{
            string caption = (Model.timelog.TotalSeconds ?? 0) > 0 ? "Continue" : "Line item";

        }
        <a ng-click="timesheetForm_ClockContinue(@Model.timelog.TimeLogId)" class="alert-warning">@caption</a>


    </td>
</tr>

@if (!string.IsNullOrWhiteSpace(Model.timelog.WorkDetail))
{

    @* 11/08/2019 07:55 am - SSN - Removed class="detail" *@


    <tr id="@tr_2_id" class="detail workDetail_2">
        <td colspan="2"></td>
        @*06/01/2019 02:59 pm - SSN - Added class codeblock2*@
        @* 11/08/2019 07:53 am - SSN - Replaced codeblock2 with workDetail *@
        <td colspan="5" class="workDetail">
            @Html.DisplayFor(modelItem => Model.timelog.WorkDetail)
        </td>

    </tr>
}