@page
@model DevSitesIndex.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.DateAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.project.ProjectTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.JobID">Edit</a> |
    <a href="javascript:void(0);" cmd-name="open-popup" popup-name="#addSite">Add site</a> |
    <a asp-page="./Index">Back to List</a>
</div>


<div class="modal" tabindex="-1" role="dialog" id="addSite">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
                <div id="addSite_PageContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<table>

    @foreach (var item in Model.job_Timesheet)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discipline.DisciplineShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.job.JobTitle)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TimeLogId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TimeLogId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TimeLogId">Delete</a>
            </td>
        </tr>
    }

</table>

@{

    @Html.Partial("Job_Timesheet")
}