@page
@model DevSitesIndex.Pages.Jobs.EditModel

@{
    ViewData["Title"] = "Edit Job";

    // 11/28/2019 07:38 am - SSN -  Replace dropdown with dropdownListDirective

    ViewBag.InitModule_Full = "data-ng-app=\"timesheetApp\"";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    @*
        // 06/08/2021 03:45 pm - SSN - [20210606-0227] - [035] - Testng for deployment - Line item
        // Update with changes applied to crate
    *@


    <div class="col-md-4" ng-controller="utilityController" form-name="jobCreateForm">
        @*
            // 09/24/2019 12:51 pm - SSN - [20190924-1134] - [014] - Removing date add/updated from create/edit pages
        *@
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Job.DateAdded)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Job.DateAdded)
            </dd>

            @{
                if (Model.Job.DateUpdated != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Job.DateUpdated)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Job.DateUpdated)
                    </dd>

                }
            }
        </dl>

        <form method="post" name="jobEditForm" action="">

            @*// 09/08/2019 07:00 am - SSN - [20190908-0001] - [002] - Concurrency*@

            <input asp-for="Job.RowVersion" type="hidden" />
            <input type="hidden" asp-for="Job.JobID" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            @*

                    11/28/2019 07:36 am - SSN - Replaced with dropdown-list-directive

                    <div class="form-group">
                    <label asp-for="Job.ProjectID" class="control-label"></label>

                    <select asp-for="Job.ProjectID" class="form-control" asp-items="Model.projectsSL" autofocus>
                        <option></option>
                    </select>

                    <span asp-validation-for="Job.ProjectID" class="text-danger"></span>
                </div>*@



            <div class="form-group">
                <label asp-for="Job.ProjectID" class="control-label"></label>
                <input asp-for="Job.ProjectID" type="hidden" />
                <dropdown-list-directive call-source="20210607-1753" key="Job.ProjectID" form-name="jobEditForm"   hidden-field-name="Job.ProjectID" ng-model="jobRecord.ProjectID" autofocus="true"></dropdown-list-directive> 

            </div>





            <div class="form-group">
                <label asp-for="Job.JobTitle" class="control-label"></label>
                <input asp-for="Job.JobTitle" class="form-control" />
                <span asp-validation-for="Job.JobTitle" class="text-danger"></span>
            </div>

            @*

                // 09/18/2019 08:20 am - SSN - [20190918-0817] - [002] - Adding paging for angular lists

            *@
            <div class="form-group">
                <label asp-for="Job.Job_StatusID" class="control-label"></label>

                <select asp-for="Job.Job_StatusID" class="form-control" asp-items="Model.job_statusSL" autofocus>
                    <option></option>
                </select>

                <span asp-validation-for="Job.Job_StatusID" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>

    @*<a asp-page="./Index">Back to List</a>*@

    @await Html.PartialAsync("ReturnToCallerLink", Model.returnToCaller)

</div>


@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        if (Program.RunWhatJavaScriptVersion == Program.whatJavaScriptVersion.Webpack)
        {
            // 11/28/2019 07:38 am - SSN -  Replace dropdown with dropdownListDirective

            <script src="~/webpack_build/bundle_jobsIndex.js" asp-append-version="true"></script>
        }
    }


    @*// 06/08/2021 03:48 pm - SSN - [20210606-0227] - [036] - Testng for deployment - Line item*@

    <script>

        angular.module('timesheetApp')
            .controller('utilityController', ['$scope', function ($scope) {

                $scope.jobRecord  =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Job, formatting: Newtonsoft.Json.Formatting.Indented, new Newtonsoft.Json.JsonSerializerSettings
                            {
                               ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                            }));

        }]);

    </script>

}


