@page
@model DevSitesIndex.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Jobs - Index";
}


@section Styles {

    <style>

        @@media only screen and (max-width : 500px) {

            .modal-content {
                max-width:300px;
            }

            .modal:before {
            }

            .ssn-mobile-modal {
            }


            .modal-dialog {
            }
        }
    </style>
}


<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div ng-controller="timesheetController">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Job[0].JobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job[0].project.ProjectTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job[0].DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job[0].DateUpdated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Job)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.project.ProjectTitle)
                    </td>

                    <td class="indexNowrapCol">
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>

                    <td class="indexNowrapCol">
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>

                    <td class="indexNowrapCol">
                        <a asp-page="./Edit" asp-route-id="@item.JobID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.JobID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.JobID">Delete</a> |
                        <a ng-click="showCreateEmployeeForm()">Start Timesheet</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>




@section Scripts {

    <script src="~/js/Timesheet/TimesheetApp.js"></script>
    <script src="~/js/Timesheet/TimesheetController.js"></script>
}