@page
@model DevSitesIndex.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Jobs - Index";
}


<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].project.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Job)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.ProjectTitle)
            </td>

            <td class="indexNowrapCol">
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>

            <td class="indexNowrapCol">
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>

            <td class="indexNowrapCol">
                <a asp-page="./Edit" asp-route-id="@item.JobID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
