@page
@model DevSitesIndex.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Jobs - Index";
}

<h2>@ViewData["Title"]</h2>

@*// 04/12/2019 07:18 am - SSN - [20190412-0718] - Move timesheet implementation to job index page. Having imact on "Save and Stay" of Dev sites.*@

@*06/01/2019 11:24 am - SSN - Adding class="hidden-xs"*@
<div ng-app="timesheetApp">

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <div ng-controller="timesheetController">

        <table class="table table-responsive">
            <thead>
                <tr>

                    @*// 08/29/2019 12:53 pm - SSN - [20190829-1253] - [001] - Adding paging and sorting to jobs index*@
                    @{await Html.RenderPartialAsync("HeaderWithSortLinks", Model.headerWithSortLinks);}

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Job)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTitle_ForActivity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>

                    <td class="indexNowrapCol hidden-xs">
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>

                    <td class="indexNowrapCol hidden-xs">
                        @item.DateUpdated
                        <br>
                        <b>
                            @item.LastActivityDate

                        </b>
                    </td>
                    
                    <td class="indexNowrapCol hidden-xs">
                        @item.ActivityAge_ToString
                    </td>


                    <td class="indexNowrapCol">
                        <a asp-page="./Edit" asp-route-id="@item.JobID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.JobID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.JobID">Delete</a> |

                        <a ng-click="showCreateTimesheetForm(@item.JobID)">Clock-in</a>

                    </td>
                </tr>
                }
            </tbody>
        </table>

        @*// 08/29/2019 01:36 pm - SSN - [20190829-1253] - [006] - Adding paging and sorting to jobs index*@
        @{await Html.RenderPartialAsync("TablePager", Model.tablePager);}

    </div>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
}
