@page
@model DevSitesIndex.Pages.Projects.DeleteModel

@{
    ViewData["Title"] = "Delete Project";
}

<h2>@ViewData["Title"]</h2>


<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.DateAdded)
        </dd>

        @*
            // 09/24/2019 01:27 pm - SSN - [20190924-1134] - [020] - Removing date add/updated from create/edit pages
        *@
        @if (Model.Project.DateModified.HasValue)
        {

            <dt>
                @Html.DisplayNameFor(model => model.Project.DateModified)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Project.DateModified)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Project.company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.company.CompanyName)
        </dd>
    </dl>



    <form method="post">

        @{
            if (Model.jobCount == 0)
            {
                <input type="hidden" asp-for="Project.ProjectID" />
                <input type="submit" value="Delete" class="btn btn-default" /><span> &nbsp; | &nbsp;</span>
            }
            else
            {
                <div class="info_bad">
                    <p>Projcets with job records cannot be deleted.</p>
                    <p>Project count: @Model.jobCount</p>
                </div>

            }
        }

        @*<a asp-page="./Index">Back to List</a>*@

        @await Html.PartialAsync("ReturnToCallerLink", Model.returnToCaller)

    </form>

    @await Html.PartialAsync("Project_Jobs", Model.project_Jobs)


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
}
