@page
@model DevSitesIndex.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Project Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.DateModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.DateModified)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Project.company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.ProjectID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@{

    // 04/19/2019 01:56 pm - SSN - Add Project_Jobs

    @Html.Partial("Project_Jobs")
}


<!-- 05/03/2019 03:43 pm - SSN - [20190503-1539] - [003] - Add link to create timelog -->

@section Scripts {
    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
}
