@page
@model DevSitesIndex.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit Company";
}

<h2>@ViewData["Title"] </h2>

<hr />
<div class="row">

    @*
        09/24/2019 11:40 am - SSN - [20190924-1134] - [002] - Removing date add/updated from create/edit pages
    *@
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Company.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.DateAdded)
        </dd>
        @{
            if (Model.Company.DateUpdated != null)
            {


                <dt>
                    @Html.DisplayNameFor(model => model.Company.DateUpdated)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Company.DateUpdated)
                </dd>
            }
        }
    </dl>


    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Company.CompanyID" />

            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" autofocus />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
