@page
@model DevSitesIndex.Pages.Companies.IndexModel

@{
    ViewData["Title"] = "Company - Index";

    // 11/23/2019 03:04 pm - SSN - Replace ng-app
    ViewBag.InitModule_Full = "data-ng-app=\"timesheetApp\"";
}


<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New Company Record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Company)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>

                <td class="indexNowrapCol">
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>

                <td class="indexNowrapCol">@Html.DisplayFor(modelItem => item.DateUpdated)</td>

                <td class="indexNowrapCol">
                    <a asp-page="./Edit" asp-route-id="@item.CompanyID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CompanyID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CompanyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
