@page
@model DevSitesIndex.Pages.ReferenceSites.DeleteModel

@{
    ViewData["Title"] = "Delete Reference Site";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceSite.SiteTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceSite.SiteTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceSite.SiteURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceSite.SiteURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceSite.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceSite.DateAdded)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ReferenceSite.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
