@page
@model DevSitesIndex.Pages.ReferenceSites.DetailsModel

@{
    ViewData["Title"] = "Reference Site Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceSite.SiteTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceSite.SiteTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceSite.SiteURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceSite.SiteURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceSite.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceSite.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ReferenceSite.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
