
@model DevSitesIndex.Pages.Jobs.DetailsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h3>Timesheet</h3>
@if (Model.job_Timesheet.Count == 0)
{
    <p>No entries.</p>
}
else
{

    <h3>Total hours: @Model.TotalJobSeconds.SecondsToTimeDuration()</h3>

    <table class="table">

        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].StartTime)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].TotalSeconds_ToTimeSpanFormat_T)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].discipline.DisciplineShort)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].job.JobTitle)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].DateAdded)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => Model.job_Timesheet[0].DateModified)
                </td>

            </tr>

        </thead>

        <tbody>


            @foreach (var item in Model.job_Timesheet)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.TotalSeconds_ToTimeSpanFormat_T)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discipline.DisciplineShort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job.JobTitle)
                    </td>
                    <td class="indexNowrapCol">
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td class="indexNowrapCol">
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                    <td class="indexNowrapCol">
                        @*06/01/2019 11:32 am - SSN - timelog to timelogs*@
                        <a asp-page="/timelogs/Edit" asp-route-id="@item.TimeLogId">Edit</a> |
                        <a asp-page="/timelogs/Details" asp-route-id="@item.TimeLogId">Details</a> |
                        <a asp-page="/timelogs/Delete" asp-route-id="@item.TimeLogId">Delete</a>


                        @*06/05/2019 08:37 pm - SSN - [20190605-2037] - [001] - Copying timelog links from timelog index*@ 

                        <a ng-If="'@item.TotalSeconds' <= 0 " ng-click="timesheetForm_ClockOut(@item.TimeLogId)" class="alert-warning">Clock-out</a>

                        <a ng-If="'@item.TotalSeconds' > 0 " ng-click="timesheetForm_ClockContinue(@item.TimeLogId)" class="alert-warning">Continue</a>



                    </td>
                </tr>
                @if (!string.IsNullOrWhiteSpace(item.WorkDetail))
                {

                    <tr class="detail">
                        <td colspan="3"></td>
                        <td colspan="3">
                            @Html.DisplayFor(modelItem => item.WorkDetail)
                        </td>

                    </tr>
                }
            }

        </tbody>

    </table>
}
