@page
@model DevSitesIndex.Pages.DevSites.DetailsModel

@{
    ViewData["Title"] = "Demo Site Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DevSite.SiteTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevSite.SiteTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevSite.SiteUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevSite.SiteUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevSite.SolutionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevSite.SolutionName)

            @if (Model.DevSite.CanBeLaunched)
            {
                int softwareCodeID = Model.DevSite.SoftwareCodeID;
                string solutionName = Model.DevSite.SolutionName;
                string siteTitle = Model.DevSite.SiteTitle;

                //06/06/2019 02:12 pm - SSN - Added title
                string url = $"<p>Project: <a href=\"ssnalert:appcode={softwareCodeID};title={siteTitle};targetfile={solutionName}\">Launch Application</a></p>";


                @Html.Raw(url);
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevSite.SoftwareCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevSite.SoftwareCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevSite.DateAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevSite.DateAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevSite.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevSite.DateUpdated)
        </dd>


        @*
            09/13/2019 04:30 am - SSN - [20190913-0421] - [001] 
            Moved down
        *@

        <dt>
            @Html.DisplayNameFor(model => model.DevSite.Solution_Details)
        </dt>
        <dd>
            @*09/10/2019 05:56 pm - SSN - Solution_Details_PRE_Encoded*@
            @Html.Raw(Model.DevSite.Solution_Details_PRE_Encoded)

        </dd>



    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DevSite.Id">Edit</a> |

    @*<a asp-page="./Index">Back to List</a>*@
    @await Html.PartialAsync("ReturnToCallerLink", Model.returnToCaller)

</div>
