@page
@model DevSitesIndex.Pages.DevSites.IndexModel

@{
    ViewData["Title"] = "DemoSites - Index";
}


<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

@*12/31/2018 09:37 pm - SSN*@
@*06/01/2019 11:24 am - SSN - Added class="hidden-xs"*@
<p>

    <form method="post" action="@Model.FormActionUrl">

        <!-- 08/12/2019 03:45 am - SSN - [20190812-0345] - [001] - Apply fulltext search -->

        <div class="form-group">
            <label class="control-label">Search</label>
            <input asp-for="SearchText" class="form-control" autofocus />
            <span asp-validation-for="SearchText" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-default" />
            <a href="/devsites" class="btn btn-default">Clear Search</a>
        </div>

    </form>


</p>
<table class="table">
    <thead>
        <tr>
            @*
                // 09/01/2019 01:32 pm - SSN - [20190901-1225] - [004] - Add Job_DevSite table - Adding sorting and paging here
            *@
            @{await Html.RenderPartialAsync("HeaderWithSortLinks", Model.headerWithSortLinks);}

            <th></th>
        </tr>
    </thead>
    <tbody>


        @*08/12/2019 05:11 am - SSN - [20190812-0345] - [006] - Apply fulltext search *@

        @if (Model.DevSites != null)
        {
            @foreach (var item in Model.DevSites)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiteTitle)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.SiteUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SolutionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Solution_Details)
                        </td>*@
                    <td class="hidden-xs">
                        @Html.DisplayFor(modelItem => item.SoftwareCode.SoftwareTitle)
                    </td>
                    <td class="indexNowrapCol hidden-xs">
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td class="indexNowrapCol hidden-xs">
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td class="indexNowrapCol">
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*
    // 09/01/2019 01:32 pm - SSN - [20190901-1225] - [004] - Add Job_DevSite table - Adding sorting and paging here
*@
@{await Html.RenderPartialAsync("TablePager", Model.tablePager);}
