@page
@model DevSitesIndex.Pages.TimeLogs.IndexModel

@{
    ViewData["Title"] = "Timesheet Index";
}

@section styles {

}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div ng-app="timesheetApp">

    <div ng-controller="timesheetController">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeLog[0].StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeLog[0].TotalSeconds_ToTimeSpanFormat_T)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeLog[0].job) /    @Html.DisplayNameFor(model => model.TimeLog[0].WorkDetail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeLog[0].discipline)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.TimeLog[0].DateAdded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeLog[0].DateModified)
                    </th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.TimeLog)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalSeconds_ToTimeSpanFormat_T)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.job.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.discipline.DisciplineShort)
                        </td>



                        <td class="indexNowrapCol">
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>

                        <td class="indexNowrapCol">
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>

                        <td class="indexNowrapCol">
                            <a asp-page="./Edit" asp-route-id="@item.TimeLogId">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.TimeLogId">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.TimeLogId">Delete</a> |

                            <a ng-If="'@item.TotalSeconds' <= 0 " ng-click="timesheetForm_ClockOut(@item.TimeLogId)" class="alert-warning">Clock-out</a>
                            <!-- 05/19/2019 08:38 am - SSN - [20190519-0837] - [001] - Adding timesheet "Continue" option -->

                            <a ng-If="'@item.TotalSeconds' > 0 " ng-click="timesheetForm_ClockContinue(@item.TimeLogId)" class="alert-warning">Continue</a>


                        </td>
                    </tr>

                    @if (!string.IsNullOrWhiteSpace(item.WorkDetail))
                    {

                        <tr class="detail">
                            <td colspan="2"></td>
                            @*06/01/2019 02:59 pm - SSN - Added class codeblock2*@
                            <td colspan="5" class="codeblock2">
                                @Html.DisplayFor(modelItem => item.WorkDetail)
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
}
