@page
@model DevSitesIndex.Pages.CodeReferences.EditModel

@{
    ViewData["Title"] = "Edit Code Reference";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">

        @*
            09/24/2019 11:34 am - SSN - [20190924-1134] - [001] - Removing date add/updated from create/edit pages
        *@

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.CodeReference.DateAdded)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodeReference.DateAdded)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CodeReference.DateModified)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CodeReference.DateModified)
            </dd>

        </dl>
        <form method="post" name="codeReferenceForm">


            <input type="hidden" asp-for="SearchText" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodeReference.Id" />



            <div class="form-group">
                <label asp-for="CodeReference.Title" class="control-label"></label>
                <input asp-for="CodeReference.Title" class="form-control" maxlength="100" autofocus></input>
                <span asp-validation-for="CodeReference.Title" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="CodeReference.SourceAddress" class="control-label"></label>
                <input asp-for="CodeReference.SourceAddress" class="form-control" />
                <span asp-validation-for="CodeReference.SourceAddress" class="text-danger"></span>
            </div>


            @*
                09/13/2019 04:30 am - SSN - [20190913-0421] - [001]
                Moved down
            *@

            <div class="form-group">
                <label asp-for="CodeReference.CodeBlock" class="control-label"></label>
                <textarea asp-for="CodeReference.CodeBlock" class="form-control "></textarea>
                <span asp-validation-for="CodeReference.CodeBlock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="index">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    @{await Html.RenderPartialAsync("TimesheetAngularScripts");}
    <script src="~/js/CodeReference/Typeahead_Discipline.js"></script>
}
