@page
@model DevSitesIndex.Pages.CodeReferences.IndexModel

@{
    ViewData["Title"] = "Code Reference - Index";

    // 11/23/2019 09:37 am - SSN - Replace ng-app
    ViewBag.InitModule_Full = "data-ng-app=\"timesheetApp\"";
}

<h2 id="topTitle">@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New Code Reference</a> <span id="searchOptionDiv" hidden cmd-name="hideObject" jQueryObjectName="#searchOptionDiv"> | <a cmd-name="showObject" jQueryObjectName=".searchOption_Container">Show Search</a></span>
</p>
@{

    Model.searchResultsfeedbackMessage_prep();
    var test101 = @Model.searchOptionCustomClassName;
}


<div class="searchOption_Container @Model.searchOptionCustomClassName">

    <div class="searchOption @Model.searchOptionCustomClassName">

        @*12/24/2019 07:31 pm - SSN - novalidate because we need to submit the form to reset the search*@

        <form method="post" action="" novalidate>


            <div>
                @*02/07/2019 02:40 pm - SSN - Removed class="form-group" when adding doHighlight*@
                <label class="control-label">Search</label>
                <input asp-for="SearchText" class="form-control" accesskey="s" autofocus required />
                <span asp-validation-for="SearchText" class="text-danger"></span>
                <a target="ws" href="https://docs.microsoft.com/en-us/sql/relational-databases/search/search-for-words-close-to-another-word-with-near?view=sql-server-2017">__</a>
            </div>
            <div class="form-group">
                <input asp-for="doHeightlight_v02" doRefreshForm="1" accesskey="h" />

                Highlight matches
            </div>
            <div class="form-group">
                <input id="submitSearchCodeRef" type="submit" value="Search" class="btn btn-default" />
                <a class="btn btn-default " doRefreshForm="0">Clear search</a>
                <span cmd-name="showObject" jQueryObjectName="#searchOptionDiv"><a class="pull-right" cmd-name="hideObject" jQueryObjectName=".searchOption_Container">Hide</a></span>
            </div>
        </form>

        @Model.searchOptionFeedbackMessage

    </div>

</div>

<div class="fixed_anchor" hidden>
    <a cmd-name="smooth-scroll" jQueryObjectName="#topTitle">Top</a>
</div>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CodeReference[0].Title) /
                @Html.DisplayNameFor(model => model.CodeReference[0].SourceAddress) /
                @Html.DisplayNameFor(model => model.CodeReference[0].CodeBlock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeReference[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeReference[0].DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @*// 04/03/2019 09:01 pm - SSN - Adding validation*@

        @{
            if (Model.CodeReference != null)
            {
                foreach (var item in Model.CodeReference)
                {

                    <tr>

                        <td class="maxWidthCol2">
                            @if (item.Title != null)
                            {
                                <h3>  @Html.DisplayFor(modelItem => item.Title)</h3>

                            }


                            @await Html.PartialAsync("CodeReference_partial", item)

                                <pre class="codeblock2">
     
 
                @{


                    if (Model.doHeightlight_v02)
                    {
                        // 02/08/2019 04:53 am - SSN - Encode
                        //@Html.Raw(Model.HighlightText(item.CodeBlock))
                        // 11/23/2019 06:31 pm - SSN - Problem with $/{/}
                        // @Html.Raw(Model.HighlightText(System.Net.WebUtility.HtmlEncode(item.CodeBlock)))
                        //@Html.Raw(Model.HighlightText(System.Net.WebUtility.HtmlEncode(item.CodeBlock_Encoded)))


                        // 07/04/2021 05:48 am - SSN 
                        // @Html.Raw(Model.HighlightText(item.CodeBlock_Encoded))
                        // @Model.HighlightText(item.CodeBlock_Encoded)
                        // 08/11/2021 09:57 am - SSN - We are missing the heighlight <i>    
                        @Html.Raw(Model.HighlightText(item.CodeBlock_Encoded))
                    }
                    else
                    {
                        // 07/04/2021 05:48 am - SSN 
                        // 08/19/2021 06:16 pm - SSN - Whey did we take raw out?  Putting back.   (Note pre was already present)
                        @*@Html.Raw(item.CodeBlock_Encoded)*@
                        @item.CodeBlock_Encoded
                    }

                }


                 </pre>


                        </td>

                        <td class="indexNowrapCol">
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>

                        <td class="indexNowrapCol">
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>

                        <td class="indexNowrapCol">
                            <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-SearchText="@Model.SearchText">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>

                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts {


    <script src="~/webpack_build/bundle_CodeReference_Pages.js" asp-append-version="true"></script>
}



<style>

    .searchOption_Container {
        height: 220px;
        width: 300px;
        position: relative;
    }

    .searchOption {
        background-color: white;
        height: 230px;
        width: 300px;
        padding: 20px;
        border: 5px solid black;
        position: relative;
    }


    .searchOption_tall {
        height: 290px;
    }

    .fixed_101 {
        top: 50px;
        position: fixed;
    }
 
</style>